* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "helvetica", Myriad Pro, Calibri, Arial, sans-serif;
}


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0 100px 0;
margin:40% 0 0 0;
}

footer p {
    background-color: black;
}

p {
    color:white;
    text-indent: 10px;
    margin: 5px 0;
}
